#____________________________________
#  1. cache, build, db sqlite3 files
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^

__pycache__/
*.class
*.pyc
*.txt
*.sqlite3

#____________________________________
#  2. PyInstaller Distribution
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
dist/

#____________________________________
#  3. Temporary exec files for TEST
#^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^^
_.html
_.pdb
