body    {
  background-color: #ffe;
  padding: 6px 100px 0px 99px;
  border: blue;
  border-width: thin;
}
 table    {
  border: 1px solid;
  width: 500px;
}
 tr td    {
  border-top-width: thin;
  border-top-style: double;
   border-left-style: dotted;
  border-left-width: thin;
   border-right-style: dotted;
  border-right-width: thin;
   border-bottom-width: thin;
  border-bottom-style: dashed;
}
 td    {
  padding: 8px;
  background-color: #eee;
  position: relative;
  align-content: center;
}
 a    {
  color: cadetblue;
  padding: inherit;
}
